<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container">
        <%- include('partials/header') %>
            <section class="d-flex content align-items-center justify-content-center">
                <span>
                    <h5 class="mb-3 text-center">
                        <%=languageData.aboutUs.whatIsVimsu%>
                    </h5>
                    <div class="text-justify">
                        <%=languageData.aboutUs.thisIsVimsu%>
                    </div>
                </span>
            </section>
            <section class="d-flex align-items-center justify-content-center" style="min-height: 100vh">
                <span>
                    <h5 class="mb-3 text-center">
                        <%=languageData.aboutUs.whoAreWe%>
                    </h5>
                    <div class="text-justify">
                        <%=languageData.aboutUs.thisIsUs%>
                    </div>
                </span>
               

            </section>
    </div>
    <%- include('partials/footer') %>
</body>

</html>