<!DOCTYPE html>
<html>

<head>
	<%- include('partials/head') %>
</head>

<body>
	<div class="container">
		<%- include('partials/header') %>
        <section class="large-form-content row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-10 m-2" id="form">
                <h5 class="mb-5"><%=languageData.aboutUs.whatIsVimsu%></h5>
                <div class="row justify-content-center mb-3 m-0 p-0">
                    <%=languageData.aboutUs.thisIsVimsu%>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-10 m-2" id="form">
                <h5 class="mb-5"><%=languageData.aboutUs.whoAreWe%></h5>
                <div class="row justify-content-center mb-3 m-0 p-0">
                    <%=languageData.aboutUs.thisIsUs%>
                </div>
            </div>
        </section>
	</div>
	<%- include('partials/footer') %>
</body>

</html>