<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container">
        <%- include('partials/header') %>
        <section class="row align-items-center justify-content-center" id="upload-content">
            <div class="col-lg-4 col-md-6 col-sm-8 col-10" id="form">
                <h5>Edit Account Information</h5>
                <br>
                <div class="row justify-content-left m-0 p-0">
                    <% if(locals.editAccountFailed===true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> There's an
                            error while saving your changes. Please try again.</small>
                    <% } else if (locals.editAccountSuccess === true) { %>
                        <small class="success"><i class="fa fa-check-circle"></i> Your changes have been saved.</small>
                    <% } %>
                </div>
                <br>
                <form action="saveAccountChanges" method="POST">
                    <div class="form-group">
                        <label for="username" class="mt-2 input-label">Username: </label>
                        <input class="form-control" type="text" id="usernameInput" name="username"
                            value="<%=username%>" readonly>
                    </div>

                    <div class="form-group">
                        <label for="forename" class="mt-2 input-label">Forename: </label>
                        <input type="text" class="form-control" id="inputForename" name="forename"
                            value="<%=forename%>" required>
                    </div>

                    <button class="primary-button mt-4 p-2" type="submit">
                        <span>Save changes</span>
                    </button>
                </form>
            </div>
        </section>
    </div>
    <%- include('partials/footer') %>

    <script>
        $('#usernameInput').tooltip({ 'trigger': 'focus', 'title': 'Username cannot be changed' });
    </script>
</body>

</html>