<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container">
        <%- include('partials/header') %>
            <section class="large-form-content row align-items-center justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-10" id="form">
                    <div class="align-items-center justify-content-center">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link" id="nav-edit-account-tab" data-toggle="tab"
                                href="#nav-edit-account" role="tab" aria-controls="nav-edit-account"
                                aria-selected="true" onclick="activateTab(this.id)"><i class="fa fa-user-edit"></i></a>
                            <a class="nav-item nav-link" id="nav-change-password-tab" data-toggle="tab"
                                href="#nav-change-password" role="tab" aria-controls="nav-change-password"
                                aria-selected="true" onclick="activateTab(this.id)"><i class="fa fa-lock"></i></a>
                        </div>
                    </div>

                    <div class="mt-3 align-items-center justify-content-center">
                        
                        <div class="tab-content" id="nav-tabContent">
                            
                            <div class="tab-pane" id="nav-edit-account" role="tabpanel"
                                aria-labelledby="nav-edit-account-tab">
                                <form action="" method="POST">
                                    <h5 class="mb-4"><%=languageData.accountSettings.editAccountInfo%></h5>
                                    <div class="row justify-content-left mb-3 m-0 p-0">
                                        <% if (locals.editAccountSuccess === true) { %>
                                            <small class="success"><i class="fa fa-check-circle"></i> <%=languageData.accountSettings.changeSuccess%></small>
                                        <% } else if (locals.usernameTaken === true) { %>
                                            <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.usernameTaken%> </small>
                                        <% } else if (locals.advancedRegistrationSystem && locals.emailTaken === true) { %>
                                            <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.emailTaken%> </small>
                                        <% } else if (locals.editAccountFailed === true) { %>
                                            <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.changeError%></small>
                                        <% } else if (locals.invalidUsernameString === true) { %>
                                            <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.invalidUsername%></small>
                                        <% } else if (locals.advancedRegistrationSystem && locals.invalidEmail === true) { %>
                                            <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.invalidEmail%></small>
                                        <% } else if(locals.advancedRegistrationSystem && locals.invalidTitle === true) { %>
                                            <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.invalidTitle%></small>
                                        <% } else if(locals.invalidForename === true) { %>
                                            <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.emptyForename%></small>
                                        <% } else if (locals.deleteAccountFailed === true) { %>
                                            <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.deleteAccountFail%></small>
                                        <% } %>
                                    </div>
                                    <div class="row justify-content-left m-0 mb-2 p-0"><small class="warning">* <%=languageData.accountSettings.requiredFields%></small></div>
                                    <div class="form-group">
                                        <label for="username" class="input-label"><%=languageData.userData.username%>&nbsp<span class="warning">*</span></label>
                                        <input class="form-control" type="text" id="usernameInput" name="username"
                                            value="<%=username%>" maxlength="32" required>
                                    </div>
                                    <% if (locals.advancedRegistrationSystem) { %>
                                        <div class="form-group">
                                            <label for="email" class="input-label"><%=languageData.userData.email%>&nbsp<span class="warning">*</span></label>
                                            <input class="form-control" type="text" name="email" id="emailInput" value="<%=email%>" required>
                                        </div>
                                    <% } %>
                                    <div class="form-group">
                                        <label for="forename" class="input-label"><%=languageData.userData.forename%>&nbsp<span class="warning">*</span></label>
                                        <input type="text" class="form-control" id="inputForename" name="forename"
                                            value="<%=forename%>" required>
                                    </div>
                
                                    <% if (locals.advancedRegistrationSystem) { %>
                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label for="title" class="input-label"><%=languageData.userData.title%></label>
                                                <select class="form-control" name="title" id="inputTitle">
                                                    <option selected value=""><%=languageData.userData.title%></option>
                                                    <% 
                                                        titleOptions.map(option => { 
                                                    %>
                                                        <option <%=title === option ? "selected" : "" %>><%=option %></option>
                                                    <% }) %>
                                                </select>
                                            </div>
                                        
                                            
                                            <div class="form-group col-6">
                                                <label for="surname" class="input-label"><%=languageData.userData.surname%></label>
                                                <input type="text" class="form-control" id="inputSurname" name="surname"
                                                    value="<%=surname%>">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label for="job" class="input-label"><%=languageData.userData.job%></label>
                                                <input type="text" class="form-control" id="inputJob" name="job"
                                                    value="<%=job%>">
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="company" class="input-label"><%=languageData.userData.company%></label>
                                                <input type="text" class="form-control" id="inputCompany" name="company"
                                                    value="<%=company%>">
                                            </div>
                                        </div>
                                    <% } %>
                                    <button class="primary-button mt-4 p-2" type="submit" name="accountSettingsButton" value="saveChangesButton">
                                        <span><%=languageData.accountSettings.saveChanges%></span>
                                    </button>
                                    <button class="warning-button mt-4 ml-xl-3 ml-lg-1 ml-md-2 ml-sm-3 ml-1 p-2" type="submit" name="accountSettingsButton" value="deleteAccountButton" onclick="confirmDeleteAccount(event)">
                                        <span><%=languageData.accountSettings.deleteAccount%></span>
                                    </button>
                                </form>
                            </div>
                        
                        
                            <div class="tab-pane" id="nav-change-password" role="tabpanel"
                                aria-labelledby="nav-change-password-tab">
                                <form action="" method="POST">
                                    <h5 class="mb-4"><%=languageData.accountSettings.changePassword%></h5>
                                    <div class="row justify-content-left mb-3 m-0 p-0">
                                        <% if (locals.changePasswordSuccess===true) { %>
                                            <small class="success"><i class="fa fa-check-circle"></i> <%=languageData.accountSettings.changePasswordSuccess%></small>
                                        <% } else if (locals.oldPasswordWrong===true) { %>
                                            <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.oldPasswordWrong%></small>
                                        <% } else if (locals.passwordsDontMatch===true) { %>
                                            <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.passwordsDontMatch%></small>
                                        <% } else if (locals.invalidPassword===true) { %>
                                            <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.emptyPassword%></small>
                                        <% } else if (locals.changePasswordFailed===true) { %>
                                            <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.changePasswordFail%></small>
                                        <% } %>
                                    </div>
                                    <div class="row justify-content-left m-0 mb-2 p-0"><small class="warning">* <%=languageData.accountSettings.requiredFields%></small></div>
                                    <div class="form-group">
                                        <label for="oldPassword" class="input-label"><%=languageData.accountSettings.oldPassword%>&nbsp<span class="warning">*</span></label>
                                        <input class="form-control" type="password" id="oldPasswordInput" name="oldPassword"
                                            required>
                                    </div>

                                    <div class="form-group">
                                        <label for="newPassword" class="input-label"><%=languageData.accountSettings.newPassword%>&nbsp<span class="warning">*</span></label>
                                        <input type="password" class="form-control" id="newPasswordInput" name="newPassword"
                                            required>
                                    </div>

                                    <div class="form-group">
                                        <label for="retypeNewPassword" class="input-label"><%=languageData.accountSettings.confirmPassword%>&nbsp<span class="warning">*</span></label>
                                        <input type="password" class="form-control" id="retypeNewPasswordInput" name="retypedNewPassword"
                                            required>
                                    </div>

                                    <button class="primary-button mt-4 p-2" type="submit"
                                        name="accountSettingsButton" value="changePasswordButton">
                                        <span><%=languageData.accountSettings.changePassword%></span>
                                    </button>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
    </div>
    <%- include('partials/footer') %>

    <script>
        $('#usernameInput').tooltip({'trigger':'focus', 'title': '2-32 characters containing only numbers, letters, and characters such as dash, underscore, or dot. 2 characters in a row or any characters at the start or at the end are not allowed.'});

        function confirmDeleteAccount(e) {
            if (!confirm("Are you sure you want to delete your account permanently?")) {
                e.preventDefault();
            }
        }

        const navEditAccountId = "nav-edit-account"
        const navChangePasswordId = "nav-change-password"

        function swapActiveClass(idToRemove, idToAdd) {
            $(`#${idToRemove}-tab`).removeClass('active')
            $(`#${idToRemove}`).removeClass('show active')
            $(`#${idToAdd}-tab`).addClass('active')
            $(`#${idToAdd}`).addClass('show active')
        }

        function activateTab(clickedId) {
            if (clickedId === navEditAccountId) {
                swapActiveClass(navChangePasswordId, navEditAccountId)
            } else {
                swapActiveClass(navEditAccountId, navChangePasswordId)
            }
        };

        $(function() {
            `${activateTab(navEditAccountId)}
            
            <% if (locals.changingPassword === true) { %>
                ${activateTab(navChangePasswordId)}
            <% } %>`
        });
    </script>
</body>

</html>