<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container">
		<%- include('partials/header') %>
        <section class="row align-items-center justify-content-center" id="upload-content">
            <div class="col-lg-4 col-md-6 col-sm-8 col-10" id="form">
                <h5>Edit Account Information</h5>
                <br>
                <div class="row justify-content-left m-0 p-0">
                    <% if(locals.invalidTitle === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> Invalid title.
                            Please choose a title from the options we provided.</small>
                    <% } else if (locals.editAccountFailed === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> There's an
                            error while saving your changes. Please try again.</small>
                    <% } %>
                </div>
                <br>
                <form action="saveAccountChanges" method="POST">
                    <div class="form-group">
                        <label for="username" class="mt-2 input-label">Username: </label>
                        <input class="form-control" type="text" id="usernameInput" name="username"
                            value="<%=username%>" readonly>
                    </div>
                    <div class="form-group">
                        <label for="email" class="mt-2 input-label">Email: </label>
                        <input class="form-control" type="text" name="email" id="emailInput" value="<%=email%>" readonly>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="title" class="mt-2 input-label">Title: </label>
                            <select class="form-control" name="title" id="inputTitle" required>
                                <option selected>Title</option>
                                <option>Mr.</option>
                                <option>Mrs.</option>
                                <option>Ms.</option>
                                <option>Miss</option>
                                <option>Dr.</option>
                                <option>Prof.</option>
                                <option>Rev.</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="forename" class="mt-2 input-label">Forename: </label>
                            <input type="text" class="form-control" id="inputForename" name="forename"
                                value="<%=forename%>" required>
                        </div>
                        <div class="form-group col-4">
                            <label for="surname" class="mt-2 input-label">Surname: </label>
                            <input type="text" class="form-control" id="inputSurname" name="surname"
                                value="<%=surname%>" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="job" class="mt-2 input-label">Job/Profession: </label>
                            <input type="text" class="form-control" id="inputJob" name="job"
                                value="<%=job%>" required>
                        </div>
                        <div class="form-group col-6">
                            <label for="company" class="mt-2 input-label">Company/School: </label>
                            <input type="text" class="form-control" id="inputCompany" name="company"
                                value="<%=company%>" required>
                        </div>
                    </div>
                    <button class="primary-button mt-4 p-2" type="submit">
                        <span>Save changes</span>
                    </button>
                </form>
            </div>
        </section>
	</div>
    <%- include('partials/footer') %>

    <script>
        $(document).ready(() => {
            var title = "<%=title%>";
            document.getElementById("inputTitle").value = title ? title : "Title";
        })

        $('#usernameInput').tooltip({'trigger':'focus', 'title': 'Username cannot be changed'});
        $('#emailInput').tooltip({'trigger':'focus', 'title': 'Email cannot be changed'});
    </script>
</body>

</html>