<!DOCTYPE html>
<html>

<head>
	<%- include('partials/head') %>
</head>

<body>
	<div class="container">
		<%- include('partials/header') %>
        <section class="small-form-content row align-items-center justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-10" id="form">
                <h5 class="mb-4"><%=languageData.logIn.forgotPassword%></h5>
                <div class="row justify-content-left mb-3 m-0 p-0">
                    <% if(locals.messageSent === true) { %>
                        <small class="success"><i class="fa fa-check-circle"></i> <%= languageData.forgotPassword.linkSent.replace("your_email", sentTo) %></small>
                    <% } else if (locals.invalidEmail === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.invalidEmail%></small>
                    <% } else if (locals.sendMessageFailed === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.contactUs.messageSentFail%></small>
                    <% } %>
                </div>
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="email" class="input-label"><%=languageData.userData.email%></label>
                        <input type="text" class="form-control" id="emailInput" name="email" placeholder=""
                            required value="<%=email%>">
                    </div>
                    <button class="primary-button mt-4 p-2" type="submit">
                        <span><%=languageData.forgotPassword.resetPassword%></span>
                    </button>
                    
                </form>
            </div>
        </section>
	</div>
    <%- include('partials/footer') %>
</body>

</html>