<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container">
		<%- include('partials/header') %>
        <section class="small-form-content row align-items-center justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-10" id="form">
                <h5 class="mb-4"><%=languageData.homepage.logIn%></h5>
                <div class="row justify-content-left mb-3 m-0 p-0">
                    <% if(locals.wrongLoginData === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.logIn.wrongFields%></small>
                    <% } else if (locals.fieldEmpty === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.logIn.emptyFields%></small>
                    <% } %>
                </div>
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="usernameOrEmail" class="input-label"><%=languageData.userData.username%> / <%=languageData.userData.email%></label>
                        <input type="text" class="form-control" id="usernameOrEmailInput" name="usernameOrEmail" placeholder=""
                            required value="<%=usernameOrEmail%>">
                    </div>
                    <div class="form-group">
                        <label for="password" class="input-label justify-content-between"><%=languageData.userData.password%>
                            <% if (locals.advancedRegistrationSystem) { %>
                                <a class="link" href="/forgot-password" style="float: right; text-align: right"><%=languageData.logIn.forgotPassword%></a>
                            <% } %>
                        </label>
                        <input type="password" class="form-control" id="passwordInput" name="password" placeholder=""
                            required>
                    </div>
                    <div class="row justify-content-center m-0 p-0">
                        <small><%=languageData.logIn.noAccount%> <span><a class="link" href="/register"> <%=languageData.logIn.noAccount%> </a></span></small>
                    </div>
                    <button class="primary-button mt-4 p-2" type="submit">
                        <span><%=languageData.homepage.logIn%></span>
                    </button>
                    
                </form>
            </div>
        </section>
	</div>
    <%- include('partials/footer') %>
</body>

</html>