<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container">
		<%- include('partials/header') %>
        <section class="large-form-content row align-items-center justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-10" id="form">
                <h5 class="mb-4"> <%=languageData.register.signUp%></h5>
                <div class="row justify-content-left m-0 mb-3 p-0">
                    <% if(locals.advancedRegistrationSystem && locals.registerSuccess === true) { %>
                        <small class="success"><i class="fa fa-check-circle"></i> <%=languageData.register.success.replace("your_email", sentTo) %></small>
                    <% } else if(locals.advancedRegistrationSystem && locals.emailTaken === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.emailTaken%></small>
                    <% } else if (locals.usernameTaken === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.usernameTaken%></small>
                    <% } else if (locals.passwordsDontMatch === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.register.passwordsDontMatch%></small>
                    <% } else if (locals.invalidUsernameString === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.invalidUsername%></small>
                    <% } else if (locals.advancedRegistrationSystem && locals.invalidEmail === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.invalidEmail%></small>
                    <% } else if (locals.advancedRegistrationSystem && locals.invalidTitle === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.invalidTitle%></small>
                    <% } else if (locals.invalidPassword === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.emptyPassword%></small>
                    <% } else if (locals.invalidForename === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.emptyForename%></small>
                    <% } else if (locals.registerFailed === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.register.fail%></small>
                    <% } %>
                </div>
                
                <div class="row justify-content-left m-0 mb-2 p-0"><small class="warning">* <%=languageData.accountSettings.requiredFields%></small></div>
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="username" class="input-label"><%=languageData.userData.username%>&nbsp<span class="warning">*</span></label>
                        <input class="form-control" type="text" id="usernameInput" name="username" placeholder="maxmuster" maxlength="32" required value="<%=username%>">
                    </div>

                    <% if (locals.advancedRegistrationSystem) { %>
                        <div class="form-group">
                            <label for="email" class="input-label"><%=languageData.userData.email%>&nbsp<span class="warning">*</span></label>
                            <input class="form-control" type="text" id="emailInput" name="email" placeholder="maxmustermann@example.com" required value="<%=email%>">
                        </div>
                    <% } %>
                    
                    <div class="form-group">
                        <label for="forename" class="input-label"><%=languageData.userData.forename%>&nbsp<span class="warning">*</span></label>
                        <input type="text" class="form-control" id="forenameInput" name="forename" placeholder="Max" required value="<%=forename%>">
                    </div>

                    <div class="form-group">
                        <label for="password" class="input-label"><%=languageData.userData.password%>&nbsp<span class="warning">*</span></label>
                        <input type="password" class="form-control" id="passwordInput" name="password" placeholder="******"
                            required autocomplete="new-password">
                    </div>
                    <div class="form-group">
                        <label for="retypedPassword" class="input-label"><%=languageData.register.confirmPassword%>&nbsp<span class="warning">*</span></label>
                        <input type="password" class="form-control" id="retypePasswordInput" name="retypedPassword" placeholder="******"
                            required autocomplete="new-password">
                    </div>
                    
                    <% if (locals.advancedRegistrationSystem) { %>
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="title" class="input-label"><%=languageData.userData.title%></label>
                                <select class="form-control" name="title" id="titleInput">
                                    <option selected value=""><%=languageData.userData.title%></option>
                                    <% 
                                        titleOptions.map(option => { 
                                    %>
                                        <option <%=title === option ? "selected" : "" %>><%=option %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label for="surname" class="input-label"><%=languageData.userData.surname%></label>
                                <input type="text" class="form-control" id="surnameInput" name="surname" placeholder="Mustermann" value="<%=surname%>">
                            </div>
                        </div>
        
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="job" class="input-label"><%=languageData.userData.job%></label>
                                <input type="text" class="form-control" id="jobInput" name="job" placeholder="Student" value="<%=job%>">
                            </div>
                            <div class="form-group col-6">
                                <label for="company" class="input-label"><%=languageData.userData.company%></label>
                                <input type="text" class="form-control" id="companyInput" name="company"
                                    placeholder="MIT" value="<%=company%>">
                            </div>
                        </div>
                    <% } %>

                    <div class="row justify-content-center m-0 p-0">
                        <small><%=languageData.register.alreadyHaveAccount%> <span><a class="link" href="/login"> <%=languageData.register.signInNow%></a></span></small>
                    </div>
                    <button class="primary-button mt-4 p-2" type="submit">
                        <span><%=languageData.register.signUpNow%></span>
                    </button>
                </form>
            </div>
        </section>
	</div>
    <%- include('partials/footer') %>

    <script>    
        $('#usernameInput').tooltip({'trigger':'focus', 'title': '2-32 characters containing only numbers, letters, and characters such as dash, underscore, or dot. 2 characters in a row or any characters at the start or at the end are not allowed.'});
    </script>
</body>

</html>