<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container">
		<%- include('partials/header') %>
        <section class="large-form-content row align-items-center justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-10" id="form">
                <h5 class="mb-4">Sign Up</h5>
                <div class="row justify-content-left m-0 mb-3 p-0">
                    <% if(locals.emailTaken === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> The email you
                            entered is already registered</small>
                    <% } else if (locals.usernameTaken === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> The username
                            you entered is already taken</small>
                    <% } else if (locals.passwordsDontMatch === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> Passwords do not match.</small>
                    <% } else if (locals.invalidUsernameString === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> The username
                            you entered doesn't match our criteria.</small>
                    <% } else if (locals.invalidEmail === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> The email you
                            entered is invalid. Please try again.</small>
                    <% } else if (locals.invalidTitle === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> Invalid title.
                            Please choose a title from the options we provided.</small>
                    <% } else if (locals.invalidPassword === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> Password cannot be empty.</small>
                    <% } else if (locals.invalidForename === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> Forename cannot be empty.</small>
                    <% } else if (locals.registerFailed === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> There's an
                            error while registering your account. Please try again.</small>
                    <% } %>
                </div>
                
                <div class="row justify-content-left m-0 mb-2 p-0"><small class="warning">* Required fields</small></div>
                <form action="register" method="POST">
                    <div class="form-group">
                        <label for="username" class="input-label">Username&nbsp<span class="warning">*</span></label>
                        <input class="form-control" type="text" id="usernameInput" name="username" placeholder="maxmuster" maxlength="10" required value="<%=username%>">
                    </div>
                    <div class="form-group">
                        <label for="email" class="input-label">Email&nbsp<span class="warning">*</span></label>
                        <input class="form-control" type="text" id="emailInput" name="email" placeholder="maxmustermann@example.com" required value="<%=email%>">
                    </div>
                    
                    <div class="form-group">
                        <label for="forename" class="input-label">Forename&nbsp<span class="warning">*</span></label>
                        <input type="text" class="form-control" id="forenameInput" name="forename" placeholder="Max" required value="<%=forename%>">
                    </div>

                    <div class="form-group">
                        <label for="password" class="input-label">Password&nbsp<span class="warning">*</span></label>
                        <input type="password" class="form-control" id="passwordInput" name="password" placeholder="******"
                            required autocomplete="new-password">
                    </div>
                    <div class="form-group">
                        <label for="retypedPassword" class="input-label">Confirm password&nbsp<span class="warning">*</span></label>
                        <input type="password" class="form-control" id="retypePasswordInput" name="retypedPassword" placeholder="******"
                            required autocomplete="new-password">
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="title" class="input-label">Title</label>
                            <select class="form-control" name="title" id="titleInput" required>
                                <option selected>Title</option>
                                <option>Mr.</option>
                                <option>Mrs.</option>
                                <option>Ms.</option>
                                <option>Miss</option>
                                <option>Dr.</option>
                                <option>Prof.</option>
                                <option>Rev.</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="surname" class="input-label">Surname</label>
                            <input type="text" class="form-control" id="surnameInput" name="surname" placeholder="Mustermann" value="<%=surname%>">
                        </div>
                    </div>
    
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="job" class="input-label">Job/Profession</label>
                            <input type="text" class="form-control" id="jobInput" name="job" placeholder="Student" value="<%=job%>">
                        </div>
                        <div class="form-group col-6">
                            <label for="company" class="input-label">Company/School</label>
                            <input type="text" class="form-control" id="companyInput" name="company"
                                placeholder="MIT" value="<%=company%>">
                        </div>
                    </div>
                    <div class="row justify-content-center m-0 p-0">
                        <small>Already have an account? <span><a class="link" href="/login"> Sign in now!</a></span></small>
                    </div>
                    <button class="primary-button mt-4 p-2" type="submit">
                        <span>Sign up now</span>
                    </button>
                </form>
            </div>
        </section>
	</div>
    <%- include('partials/footer') %>

    <script>
        $(document).ready(() => {
            var title = "<%=title%>";
            document.getElementById("inputTitle").value = title ? title : "Title";
        })

        $('#usernameInput').tooltip({'trigger':'focus', 'title': '2-10 characters containing only numbers, letters, and characters such as dash, underscore, or dot. No 2 characters in a row or any characters at the start or at the end.'});
    </script>
</body>

</html>