<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container">
        <%- include('partials/header') %>
        <section class="small-form-content row align-items-center justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-10" id="form">
                <h5 class="mb-4"> <%=languageData.forgotPassword.resetPassword%></h5>
                <div class="row justify-content-left mb-3 m-0 p-0">
                    <% if (locals.changePasswordSuccess===true) { %>
                        <small class="success"><i class="fa fa-check-circle"></i> <%=languageData.accountSettings.changePasswordSuccess%>/small>
                    <% } else if (locals.passwordsDontMatch===true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.passwordsDontMatch%></small>
                    <% } else if (locals.invalidPassword===true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.emptyPassword%></small>
                    <% } else if (locals.changePasswordFailed===true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.accountSettings.passwordsDontMatch%></small>
                    <% } %>
                </div>
                <form action="" method="POST">
                    <div class="row justify-content-left m-0 mb-2 p-0"><small class="warning">* <%=languageData.accountSettings.requiredFields%></small></div>
                    <div class="form-group">
                        <label for="newPassword" class="input-label"><%=languageData.accountSettings.newPassword%>&nbsp<span class="warning">*</span></label>
                        <input type="password" class="form-control" id="newPasswordInput" name="newPassword"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="retypeNewPassword" class="input-label"><%=languageData.accountSettings.confirmPassword%>&nbsp<span class="warning">*</span></label>
                        <input type="password" class="form-control" id="retypeNewPasswordInput"
                            name="retypedNewPassword" required>
                    </div>

                    <button class="primary-button mt-4 p-2" type="submit">
                        <span><%=languageData.forgotPassword.resetPassword%></span>
                    </button>
                </form>
            </div>
        </section>
    </div>
    <%- include('partials/footer') %>
</body>

</html>