<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container">
		<%- include('partials/header') %>
        <section class="medium-large-form-content row align-items-center justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-10" id="form">
                <h5 class="mb-4"><%=languageData.upload.createLecture%></h5>
                <div class="row justify-content-left mb-3 m-0 p-0">
                    <% if (locals.uploading === true) { %>
                        <small class="success"><i class="fa fa-check-circle"></i> <%=languageData.upload.success%></small>
                    <% } else if(locals.noFilesUploaded === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.upload.noFiles%></small>
                    <% } else if (locals.fileSizeExceeded === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.upload.tooLarge%></small>
                    <% } else if (locals.unsupportedFileType === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.upload.wrongFileType%></small>
                    <% } else if (locals.notInt === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.upload.wrongTypeMaxPpants%></small>
                    <% } else if (locals.notDate === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.upload.invalidDate%></small>
                    <% } else if (locals.invalidLectureTitle === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.upload.emptyTitle%></small>
                    <% } else if (locals.uploadFailed === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.upload.errorUpload%></small>
                    <% } else if (locals.createSlotFailed === true) { %>
                        <small class="error"><i class="fa fa-times-circle"></i> <%=languageData.upload.errorCreateSlot%></small>
                    <% } %>
                </div>
                <div class="row justify-content-left m-0 mb-2 p-0"><small class="warning">* <%=languageData.accountSettings.requiredFields%></small></div>
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="title" class="input-label"><%=languageData.upload.lectureTitle%>&nbsp<span class="warning">*</span></label>
                        <input type="text" class="form-control" id="titleInput" name="title" placeholder="A New Normal Era"
                            required autocomplete="off" value="<%=title%>">
                    </div>
                    <div class="form-group">
                        <label for="startingTime" class="input-label"><%=languageData.upload.startingTime%>&nbsp<span class="warning">*</span></label>
                        <input type="datetime-local" class="form-control" id="startingTimeInput"
                            name="startingTime" autocomplete="off" required value="<%=startingTime%>"/>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="remarks" class="input-label"><%=languageData.upload.remarks%>&nbsp<span class="warning">*</span></label>
                            <input type="text" class="form-control" id="remarksInput" name="remarks"
                                placeholder="<%=languageData.upload.limitedSeats%>, ..." autocomplete="off" value="<%=remarks%>">
                        </div>
                        <div class="form-group col-6">
                            <label for="maxParticipants" class="input-label"><%=languageData.upload.maxParticipants%>&nbsp<span class="warning">*</span></label>
                            <input type="number" step="1" class="form-control" id="maxParticipantsInput"
                                name="maxParticipants" placeholder="0" required autocomplete="off" value="<%=maxParticipants%>">
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="video" class="input-label"><%=languageData.upload.video%>&nbsp<span class="warning">*</span></label>
                        <input type="file" class="form-control" name="video" id="file" accept="video/mp4"/>
                    </div>
                    <label for="video" class="input-label mb-0"><%=languageData.upload.supportedFiles%></label>
                    <button class="primary-button mt-4 p-2" type="submit">
                        <span><%=languageData.upload.createLecture%></span>
                    </button>
                </form>
            </div>
        </section>
	</div>
    <%- include('partials/footer') %>
</body>

</html>