<!DOCTYPE html>
<html>

<head>
	<%- include('partials/head') %>
</head>

<body>
	<div class="container">
		<%- include('partials/header') %>
        <section class="content row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-12 col-sm-12 page-not-found">
                <% if (locals.verifySuccess === true) { %>
                    <div>
                        <i class="fa fa-user-check fa-4x"></i>
                    </div>
                    <div class="mt-4">
                        <%=languageData.verification.success%>
                    </div>
                    
                    <% if (locals.loggedIn !== true) { %>
                        <div>
                            <a class="btn primary-button mt-4 p-2" href="/login">
                                <span><%=languageData.verification.signInNow%></span>
                            </a>
                        </div>
                    <% } %>  
                <% } else { %>
                    <div>
                        <i class="fa fa-user-times fa-4x"></i>
                    </div>
                   <div class="mt-4">
                        <%=languageData.verification.fail%>
                   </div>
                <% } %>
            </div>
        </section>
	</div>
	<%- include('partials/footer') %>
</body>

</html>